.just_center{
    display: flex;
    justify-content: center;
}
.example-card {
<<<<<<< HEAD
    max-width: 400px;
=======
    max-width: 800px;
>>>>>>> master
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-full-width {
    width: 100%;
  }