<mat-toolbar style="display: flex;justify-content: space-between;">
  <div style="width: 50%;">
    <a routerLink="/">Crowdfunding Platform</a>
  </div>
  <div style="display: flex;justify-content: space-between;width: 50%;">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/search" routerLinkActive="active-link">Search Fundraisers</a>
    <a routerLink="/details" routerLinkActive="active-link">Details of fundraisers</a>
    <a routerLink="/donation" routerLinkActive="active-link">donation_add</a>
  </div>
</mat-toolbar>