<mat-toolbar>
  <table style="width: 100%;">
    <tr>
      <td><a routerLink="/">Crowdfunding Platform</a></td>
      <td><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></td>
      <td><a routerLink="/search" routerLinkActive="active-link">Search Fundraisers</a></td>
      <td><a routerLink="/details" routerLinkActive="active-link">Details of fundraisers</a></td>
      <td><a routerLink="/donation" routerLinkActive="active-link">donation_add</a></td>
    </tr>
  </table>
</mat-toolbar>
