<div>
  <form (ngSubmit)="onSearch()" #searchForm="ngForm" style="display: flex;justify-content: center;align-items: center;align-content: center;">
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput type="text" [(ngModel)]="searchParams.city" name="city" id="city" placeholder="Enter City">
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Organizer</mat-label>
      <input matInput type="text" [(ngModel)]="searchParams.organizer" name="organizer" id="organizer"
        placeholder="Enter Organizer">
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Category:</mat-label>
      <mat-select [(ngModel)]="searchParams.categoryId" name="categoryId" id="category-select">
        <mat-option value="">----</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category.CATEGORY_ID">
          {{ category.CATEGORY_ID }}: {{ category.NAME }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Active:</mat-label>
      <mat-select [(ngModel)]="searchParams.active" name="active" id="active-select">
        <mat-option value="1">active</mat-option>
        <mat-option value="0">suspended</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button color="primary" type="submit">Search</button>
    &nbsp;
    <button mat-flat-button color="primary" type="button" (click)="clearSearchFields()">Clear</button>
  </form>
  <table mat-table [dataSource]="fundraisers" class="mat-elevation-z8" style="width: 100%">

    <ng-container matColumnDef="organizer">
      <th mat-header-cell *matHeaderCellDef> Organizer </th>
      <td mat-cell *matCellDef="let fundraiser"> {{ fundraiser.ORGANIZER }} </td>
    </ng-container>

    <ng-container matColumnDef="caption">
      <th mat-header-cell *matHeaderCellDef> Caption </th>
      <td mat-cell *matCellDef="let fundraiser"> {{ fundraiser.CAPTION }} </td>
    </ng-container>

    <ng-container matColumnDef="target_fund">
      <th mat-header-cell *matHeaderCellDef> Target Fund </th>
      <td mat-cell *matCellDef="let fundraiser"> {{ fundraiser.TARGET_fund }} </td>
    </ng-container>

    <ng-container matColumnDef="current_fund">
      <th mat-header-cell *matHeaderCellDef> Current Fund </th>
      <td mat-cell *matCellDef="let fundraiser"> {{ fundraiser.CURRENT_fund }} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let fundraiser"> {{ fundraiser.CITY }} </td>
    </ng-container>

    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef> Event </th>
      <td mat-cell *matCellDef="let fundraiser"> {{ fundraiser.EVENT }} </td>
    </ng-container>
    <ng-container matColumnDef="category_id">
      <th mat-header-cell *matHeaderCellDef> Category ID </th>
      <td mat-cell *matCellDef="let fundraiser"> {{ fundraiser.CATEGORY_ID }} </td>
    </ng-container>
    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef> Is Active </th>
      <td mat-cell *matCellDef="let fundraiser"> {{ fundraiser.IS_ACTIVE == 1 ? 'YES' : 'NO' }} </td>
    </ng-container>

    <ng-container matColumnDef="operate">
      <th mat-header-cell *matHeaderCellDef> Operate </th>
      <td mat-cell *matCellDef="let fundraiser">
        <button mat-button color="primary" (click)="editFundraiser(fundraiser)">Edit</button>
        <button mat-button color="warn" (click)="deleteFundraiser(fundraiser.FUNDRAISE_ID)">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>