<mat-toolbar style="display: flex;justify-content: space-between;">
  <div style="width: 50%;">
    <a routerLink="/admin">Crowdfunding Platform Admin</a>
  </div>
  <div style="display: flex;justify-content: space-between;width: 50%;">
    <a routerLink="/admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/admin/add" routerLinkActive="active-link">Add Fundraisers</a>
    <a routerLink="/admin/edit" routerLinkActive="active-link">Edit fundraisers</a>
  </div>

</mat-toolbar>