<mat-toolbar>
    <table style="width: 100%;">
      <tr>
        <td><a routerLink="/admin/home">Crowdfunding Platform Admin</a></td>
        <td><a routerLink="/admin/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></td>
        <td><a routerLink="/admin/add" routerLinkActive="active-link">Add Fundraisers</a></td>
        <td><a routerLink="/admin/edit" routerLinkActive="active-link">Edit fundraisers</a></td>
      </tr>
    </table>
  </mat-toolbar>
  